body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}

h1 {
    color: rgb(216, 40, 40);
}
form {
    background-color: rgb(255, 255, 255);
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.322);
}

#textbox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 15px;
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin-top: 15px;
    background-color: rgb(52, 52, 171);
    color: white;
    font-size: 1.1em;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(67, 67, 255);
    transform: translateY(-0.5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: white;
    color: rgb(67, 67, 255);
    border: 1px solid rgb(67, 67, 255);
}

#result {
    font-size: 1.3em;
    font-weight: 500;
}



